@use 'sass:math';
@import "theme";
@import "responsive";

html,
body {
    margin: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: aqua;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    max-width: 50%;
}